<%-include head11%>
<div class="container row top">
    <div class="col-md-7 top">
        <div class="fixed">
            <h1 class="blue">Nothing but net</h1>
            <h1>happens here.</h1>
            <p>当你需要知道在你的城市或全球发生了什么事情时，最好的事情发生在推特上。</p>
            <h3>Twitter is your window to the world.</h3>
            <p>你的问题得到实时更新。</p>
            <p>&nbsp;</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">查看更多 &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-5 right">
        <div id="part1" class="box">
            <h3>NBA精彩一瞬</h3>
            <p class="red">上传时间：2015.8.3</p>
            <video src="images/nba.mp4" autoplay loop width="100%"></video>
            <p class="red">分享</p>
        </div>
        <div id="part2" class="box">
            <h3>穿裙子的美洲驼</h3>
            <p class="red">上传时间：2015.5.3</p>
            <video src="images/dylan byrd.mp4" autoplay loop width="100%"></video>
            <p class="red">分享</p>
        </div>
        <div id="part3" class="box">
            <h3>艾伦德杰尼勒斯</h3>
            <p class="red">上传时间：2015.5.3</p>
            <img src="images/photo.jpg" width="100%">
            <p class="red">分享</p>
        </div>
        <div id="part4" class="box">
            <h3>安东尼奥—法国</h3>
            <p class="red">上传时间：2015.5.3</p>
            <img src="images/french.jpg" width="100%">
            <p class="red">分享</p>
        </div>
    </div>
</div>
<%-include footer%>
