reg.ejs<%-include head2%>
<div class="container-fluid row top">
    <div class="col-md-1"></div>
    <div class="col-md-6 mar1 pad1">
        <h1>很高兴你来到这里</h1>
        <h3 class="blue"><%=user%>,欢迎你！</h3>
        <p>twitter将持续更新最潮、最重大的新闻、媒体、体育、电视、对话消息等等——全为你量身定制</p>
        <p>告诉我们你喜欢的东西，我们会帮你打点一切</p>
        <a href="/reg2" class="btn btn-primary">我们开始吧！</a>
    </div>
    <div class="col-md-4 pad1">
        <img src="images/img1.jpg" width="100%" height="auto" class="img-rounded">
        <img src="images/img2.jpg" width="100%" height="auto" class="img-rounded mar1">
        <img src="images/img1.jpg" width="100%" height="auto" class="img-rounded">
    </div>
</div>
<%-include footer%>
