<%-include head2%>
<div class="container-fluid row top">
    <div class="col-md-3"></div>
    <div class="col-md-6 mar1 pad1">
        <h1>添加照片</h1>
        <h3 class="blue">展现你独特的个性和风格</h3>
        <form class="form-signin" role="form" method="post" enctype='multipart/form-data' action="reg4">
            <input id="fulAvatar" name="fulAvatar" type="file" class="block" />
            <button id="btnSub" class="btn btn-primary" type="submit">继续下一步</button>
        </form>
    </div>
    <div class="col-md-3 pad1">
    </div>
</div>
<%-include footer%>
