<%-include head2%>
<div class="container-fluid row top">
    <div class="col-md-3"></div>
    <div class="col-md-6 mar1 pad1">
        <h1>看起不错</h1>
        <h3 class="blue">稍会你可以设置更多信息......</h3>
        <a href="#" class="block"><img src="<%=imgpath%>" width="244" height="244"></a>
        <a href="blog" class="btn btn-primary">OK!来看看我的主页吧</a>
    </div>
    <div class="col-md-3 pad1">
    </div>
</div>
<%-include footer%>
